@import "tailwindcss";

/* body{
    background: #0F172B;
    color: white;
} */

.floatAnimation{
    animation: float 3s infinite ease-in-out alternate;
}

@keyframes float{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(0.98);
    }
}
